<h1  style="color: #FFFFFF" class="display-4">Lo Sentimos algo no anda bien...mientras lo arreglamos divertete!</h1>

<iframe position=center src="https://chromedino.com/batman/" frameborder="0" scrolling="no" width="100%" height="100%" loading="lazy"></iframe>
<style type="text/css">iframe { position: absolute; width: 80%; height: 80%; z-index: 999; }</style>